mpmath==1.3.0
pillow==10.4.0
typing_extensions==4.12.2
httpx==0.28.1
onnxruntime==1.20.1
PyYAML==6.0.1
nvidia-nccl-cu12==2.21.5
boltons==21.0.0
threadpoolctl==3.5.0
pycparser==2.22
anyio==4.7.0
dill==0.3.8
shellingham==1.5.4
absl-py==2.1.0
xxhash==3.5.0
psutil==6.1.0
google-auth==2.36.0
flatbuffers==24.3.25
face==24.0.0
loralib==0.1.2
numpy==1.26.4
executing==2.1.0
peft==0.14.0
pure_eval==0.2.3
pycocotools==2.0.8
opentelemetry-util-http==0.46b0
starlette==0.41.3
nvidia-cudnn-cu12==9.1.0.70
jsonschema-specifications==2024.10.1
pi_heif==0.21.0
python-magic==0.4.27
tokenizers==0.20.3
eval_type_backport==0.2.0
proto-plus==1.25.0
pydantic_core==2.23.4
click-option-group==0.5.6
python-dateutil==2.9.0.post0
python-dateutil==2.8.2
wcwidth==0.2.13
pydantic==2.9.2
comm==0.2.2
layoutparser==0.3.4
huggingface-hub==0.26.5
smmap==5.0.1
dataclasses-json==0.6.7
pikepdf==9.4.2
chardet==5.2.0
googleapis-common-protos==1.66.0
rsa==4.9
pypdfium2==4.30.0
markdown-it-py==3.0.0
scipy==1.14.1
inflate64==1.0.0
antlr4-python3-runtime==4.9.3
grpcio==1.68.1
ruff==0.8.2
safetensors==0.4.5
opentelemetry-exporter-otlp-proto-common==1.25.0
Pygments==2.18.0
triton==3.1.0
google-api-core==2.23.0
datasets==3.1.0
rpds-py==0.22.3
referencing==0.35.1
opentelemetry-proto==1.25.0
setuptools==75.1.0
frozenlist==1.5.0
ruamel.yaml==0.17.40
opencv-python==4.10.0.84
pytz==2024.2
charset-normalizer==3.4.0
unstructured.pytesseract==0.3.13
packaging==24.2
opentelemetry-instrumentation==0.46b0
jedi==0.19.2
matplotlib-inline==0.1.7
filetype==1.2.0
wrapt==1.17.0
asttokens==3.0.0
jsonpath-python==1.0.6
grpcio-status==1.62.3
tomli==2.0.2
sympy==1.13.1
tomlkit==0.13.2
regex==2024.11.6
multiprocess==0.70.16
pandas==2.2.3
Brotli==1.1.0
nest_asyncio==1.6.0
idna==3.10
optimum==1.23.3
mdurl==0.1.2
pickleshare==0.7.5
opentelemetry-sdk==1.25.0
olefile==0.47
jsonschema==4.23.0
mypy-extensions==1.0.0
coloredlogs==15.0.1
opentelemetry-api==1.25.0
docker-pycreds==0.4.0
nvidia-cusparse-cu12==12.3.1.170
opentelemetry-exporter-otlp-proto-http==1.25.0
typing_extensions==4.12.2
torch==2.5.1
zipp==3.21.0
prompt_toolkit==3.0.48
fastapi==0.115.6
google-cloud-vision==3.8.1
pyasn1_modules==0.4.1
fonttools==4.55.2
yarl==1.18.3
rich==13.5.3
nvidia-nvjitlink-cu12==12.4.127
annotated-types==0.7.0
evaluate==0.4.3
semgrep==1.99.0
glom==22.1.0
pypdf==5.1.0
importlib_metadata==8.5.0
importlib_metadata==7.1.0
certifi==2024.8.30
pyzstd==0.16.2
backoff==2.2.1
h11==0.14.0
safehttpx==0.1.6
gitdb==4.0.11
bracex==2.5.post1
stack_data==0.6.3
joblib==1.4.2
urllib3==2.2.3
pyasn1==0.6.1
wheel==0.44.0
pathspec==0.12.1
requests-toolbelt==1.0.0
torchvision==0.20.1
sentence-transformers==3.3.1
unstructured-inference==0.8.1
fsspec==2024.9.0
python-iso639==2024.10.22
trl==0.12.2
httpcore==1.0.7
tzdata==2024.2
scikit-learn==1.5.2
RapidFuzz==3.10.1
pexpect==4.9.0
pip==24.2
aiosignal==1.3.1
unstructured-client==0.27.0
termcolor==2.5.0
cryptography==44.0.0
omegaconf==2.3.0
contourpy==1.3.1
semantic-version==2.10.0
codeshield==1.0.1
orjson==3.10.12
six==1.17.0
emoji==2.14.0
portalocker==3.0.0
bitsandbytes==0.45.0
traitlets==5.14.3
tqdm==4.67.1
marshmallow==3.23.1
jupyter_client==8.6.3
nvidia-cusolver-cu12==11.6.1.9
setproctitle==1.3.4
py7zr==0.22.0
jupyter_core==5.7.2
nvidia-cuda-runtime-cu12==12.4.127
soupsieve==2.6
distro==1.9.0
tabulate==0.9.0
timm==1.0.12
attrs==24.2.0
aiohttp==3.11.10
tokenize_rt==6.1.0
faiss-gpu==1.7.2
gradio==5.8.0
unstructured==0.16.10
networkx==3.4.2
appdirs==1.4.4
texttable==1.7.0
sentencepiece==0.2.0
parso==0.8.4
langdetect==1.0.9
multidict==6.1.0
fire==0.7.0
iopath==0.1.10
webencodings==0.5.1
aiohappyeyeballs==2.4.4
pyparsing==3.2.0
exceptiongroup==1.2.2
Jinja2==3.1.4
cycler==0.12.1
nvidia-curand-cu12==10.3.5.147
html5lib==1.1
pybcj==1.0.2
pdfminer.six==20231228
openai==1.57.0
nvidia-cublas-cu12==12.4.5.8
ruamel.yaml.clib==0.2.12
pyzmq==26.2.0
lxml==5.3.0
nltk==3.9.1
requests==2.32.3
pdfplumber==0.11.4
matplotlib==3.9.3
GitPython==3.1.43
humanfriendly==10.0
effdet==0.4.1
wcmatch==8.5.2
pyarrow==18.1.0
pycryptodomex==3.21.0
pdf2image==1.17.0
onnx==1.17.0
websockets==14.1
python-oxmsg==0.0.1
Deprecated==1.2.15
multivolumefile==0.2.3
platformdirs==4.3.6
beautifulsoup4==4.12.3
peewee==3.17.8
typing-inspect==0.9.0
opentelemetry-semantic-conventions==0.46b0
tornado==6.4.2
python-multipart==0.0.19
filelock==3.16.1
ptyprocess==0.7.0
click==8.1.7
nvidia-cuda-nvrtc-cu12==12.4.127
cachetools==5.5.0
colorama==0.4.6
accelerate==1.2.0
black==24.10.0
nvidia-cufft-cu12==11.2.1.3
ipython==8.30.0
protobuf==4.25.5
propcache==0.2.1
sentry-sdk==2.19.2
gradio_client==1.5.1
debugpy==1.8.9
decorator==5.1.1
MarkupSafe==2.0.1
typer==0.15.1
kiwisolver==1.4.7
ffmpy==0.4.0
cffi==1.17.1
opentelemetry-instrumentation-requests==0.46b0
aiofiles==23.2.1
sniffio==1.3.1
async-timeout==5.0.1
pyppmd==1.1.0
defusedxml==0.7.1
nvidia-nvtx-cu12==12.4.127
uvicorn==0.32.1
jiter==0.8.0
pydub==0.25.1
ipykernel==6.29.5
wandb==0.19.0
nvidia-cuda-cupti-cu12==12.4.127
transformers==4.46.3
rouge_score==0.1.2
importlib_resources==6.4.0
typeguard==4.3.0
platformdirs==4.2.2
importlib_metadata==8.0.0
jaraco.text==3.12.1
zipp==3.19.2
typing_extensions==4.12.2
packaging==24.1
more-itertools==10.3.0
wheel==0.43.0
inflect==7.3.1
jaraco.context==5.3.0
jaraco.functools==4.0.1
tomli==2.0.1
backports.tarfile==1.2.0
jaraco.collections==5.1.0
autocommand==2.2.2
